[submodule "api-telematik"]
	path = api-telematik
	url = git@github.com:med-united/api-telematik.git
	branch = ebk_6.0.3

[submodule "openkim"]
	path = openkim
	url = git@github.com:med-united/openkim.git
